@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
  
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #131313;
}

#loader { 
    border: 10px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 10px solid #855dcf; 
    width: 40px; 
    height: 40px; 
    animation: spin 2s linear infinite; 
} 

.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 

.top{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 110%;
    background-image: url(abhi.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.logolink{
    position: absolute;
    left: 1%;
    width: 12%;
    height: 24%;
    background-image: url(logo/logo.png);
    background-position: 50% 50%;
    background-color: transparent;
    background-size: cover;
}

.topgrad{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 110%;
    background: linear-gradient(180deg, rgba(19, 19, 19, 0) 32.19%, #131313 100%);
}

.social{
    position: absolute;
    right:5%;
    top:75%;
}
.social a{
    padding: 1%;
}
h1{
    position: absolute;
    top:60%;
    left: 4%;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    color: #dad8d8;
    letter-spacing: 15px;
    text-transform: uppercase;
    animation: ease-in-out 5s h1;
}

@keyframes h1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h3{
    position: absolute;
    top:80%;
    left: 4%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ACE099;
    background: none;
    letter-spacing: 5px;
    text-transform: capitalize;
    animation: ease-in-out 8s h3;
}

@keyframes h3{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h4{
    position: absolute;
    top: 40%;
    right: 4%;
    background: none;
    text-transform: capitalize;
    font-weight: 300;
    color: #C4C4C4;
    transform: rotate(-90deg);
}

.skillbox{
    width: 70%;
    margin-left:20%;
    margin-right: 15%;
    margin-top: 4%;
    height:max-content;
}

.box{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 5%;
    width: max-content;
    height: max-content;
}
.mbox{
    width: 100%;
    margin: 4%;
    float: left;
    vertical-align: middle;
    background-color: #202020;
    height: max-content;
    border-radius: 4px;
    transition: 0.4s;
}

.mbox:hover h5{
    color: #00A8E1;
    transition: 0.4s;
}


.mbox:hover #prog1{
    opacity: 1;
    width: 80%;
    border-radius: 4px;
    transition: 0.4s;
    animation:ease-in-out 1s progress ;
}
.mbox:hover #prog2{
    opacity: 1;
    width: 98%;
    border-radius: 4px;
    transition: 0.4s;
    animation:ease-in-out 1s progress2 ;
}


.mbox:hover #prog3{
    opacity: 1;
    width: 60%;
    border-radius: 4px;
    transition: 0.4s;
    animation:ease-in-out 1s progress3 ;
}

@keyframes progress{
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 80%;
    }
}

@keyframes progress2{
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 98%;
    }
}

@keyframes progress3{
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 60%;
    }
}
#prog1{
    width: 0%;
    margin: 0%;
    background-color: red;
    border-radius: 4px;
    opacity: 0;
    color: red;
    transition: 0.4s;
}

#prog2{
    width: 0%;
    border-radius: 4px;
    margin: 0%;
    background-color: red;
    opacity: 0;
    color: red;
    transition: 0.4s;
}

#prog3{
    width: 0%;
    border-radius: 4px;
    margin: 0%;
    background-color: red;
    opacity: 0;
    color: red;
    transition: 0.4s;
}

#img{
    width: 95%;
    height: 95%;
    object-fit: contain;
}

h5{
    text-align: center;
    color: white;
    margin: 0%;
    padding-bottom: 1%;
    font-weight: 300;
    text-transform: capitalize;
}
.mbox:hover{
    box-shadow: 0px 0px 30px 13px #0f0f0f;
    transition: 0.4s;
    cursor: pointer;
    
}

.top2{
    position: absolute;
    top:110%;
    display: flex;
    flex-wrap: wrap;
    left: 0%;
    width: 100%;
    height: max-content;
    background-color: #131313;
}


h2{
    color:  #5A7ACB;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 0%;
}

.menubtn {
    position: absolute;
    background-color: none;
    color: rgb(211, 211, 211);
    cursor: pointer;
    font-size: 30px;
    right: 5%;
    transition: 0.3s;
    top: 10%;
    cursor: pointer;
}

.menubtn:hover{
    color:#00A8E1;
    cursor: pointer;
    transition: 0.3s;
}

#close{
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    font-size: 30px;
    color: #cfd4ce;
    transition: 0.3s;

}

#close:hover{
    color: #00A8E1;
    transition: 0.3s;
    cursor: pointer;
}

.menu{
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 1;
    width: 0%;
    height: 100%;
    background: rgba(19, 19, 19, 0.80);
    transition: 0.8s;
}

#menu{
    background: none;
    margin-top: 20%;
    font-size: 30px;
    margin-left: 10%;
}

ul a{
    background: none;
    background-color: transparent;
    text-decoration: none;
    text-transform: capitalize;
    color: #A9B4A6;
    list-style: none;
    font-size: 22px;
    padding: 1.5%;
    display: block;
    transition: 0.4s;
}

ul a li{
    background: none;
    background-color: transparent;
}

ul a:hover{
    color: #ACE099;
    transition: 0.4s;
}
p{
    color: #EFE7E7;
    word-spacing: 5px;
    margin-top: 2%;
    text-align:justify;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#2e2e2e;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00A8E1;
  }
  

  @media only screen and (max-width:500px){

    .top,.topgrad{
        height: 90%;
    }

    .top2{
        top: 90%;
    }
    
    .skillbox{
        width: 80%;
        margin-left: 16%;
        margin-right: 4%;
    }

    p,h2{
        margin-left: 8%;
        margin-right: 8%;
    }

    h1{
        font-size: 30px;
    }

    .logolink{
        left:1%;
        width: 30%;
    }

    h3{
        letter-spacing: 2px;
        right: 10%;
    }
}
